<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.citi.ordermatching.dao.DealRecordMapper" >
  <resultMap id="BaseResultMap" type="com.citi.ordermatching.domain.DealRecord" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="dealtime" property="dealtime" jdbcType="TIMESTAMP" />
    <result column="dealprice" property="dealprice" jdbcType="DOUBLE" />
    <result column="dealsize" property="dealsize" jdbcType="INTEGER" />
    <result column="bidorderid" property="bidorderid" jdbcType="VARCHAR" />
    <result column="askorderid" property="askorderid" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, dealtime, dealprice, dealsize, bidorderid, askorderid
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from dealrecord
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="findAllDealRecord" resultMap="BaseResultMap"  >
    select
    <include refid="Base_Column_List" />
    from dealrecord

  </select>


  <select id="findAllDealRecordByBidId" resultMap="BaseResultMap"  parameterType="java.lang.String">
    select
    <include refid="Base_Column_List" />
    from dealrecord where  bidorderid=#{bidorderid,jdbcType=VARCHAR}

  </select>

  <select id="findAllDealRecordByAskId" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from dealrecord where askorderid=#{askorderid,jdbcType=VARCHAR}

  </select>




  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from dealrecord
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="com.citi.ordermatching.domain.DealRecord" >
    insert into dealrecord (id, dealtime, dealprice,
    dealsize, bidorderid, askorderid
    )
    values (#{id,jdbcType=INTEGER}, #{dealtime,jdbcType=TIMESTAMP}, #{dealprice,jdbcType=DOUBLE},
    #{dealsize,jdbcType=INTEGER}, #{bidorderid,jdbcType=VARCHAR}, #{askorderid,jdbcType=VARCHAR}
    )
  </insert>
  <insert id="insertSelective" parameterType="com.citi.ordermatching.domain.DealRecord" >
    insert into dealrecord
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="dealtime != null" >
        dealtime,
      </if>
      <if test="dealprice != null" >
        dealprice,
      </if>
      <if test="dealsize != null" >
        dealsize,
      </if>
      <if test="bidorderid != null" >
        bidorderid,
      </if>
      <if test="askorderid != null" >
        askorderid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="dealtime != null" >
        #{dealtime,jdbcType=TIMESTAMP},
      </if>
      <if test="dealprice != null" >
        #{dealprice,jdbcType=DOUBLE},
      </if>
      <if test="dealsize != null" >
        #{dealsize,jdbcType=INTEGER},
      </if>
      <if test="bidorderid != null" >
        #{bidorderid,jdbcType=VARCHAR},
      </if>
      <if test="askorderid != null" >
        #{askorderid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.citi.ordermatching.domain.DealRecord" >
    update dealrecord
    <set >
      <if test="dealtime != null" >
        dealtime = #{dealtime,jdbcType=TIMESTAMP},
      </if>
      <if test="dealprice != null" >
        dealprice = #{dealprice,jdbcType=DOUBLE},
      </if>
      <if test="dealsize != null" >
        dealsize = #{dealsize,jdbcType=INTEGER},
      </if>
      <if test="bidorderid != null" >
        bidorderid = #{bidorderid,jdbcType=VARCHAR},
      </if>
      <if test="askorderid != null" >
        askorderid = #{askorderid,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.citi.ordermatching.domain.DealRecord" >
    update dealrecord
    set dealtime = #{dealtime,jdbcType=TIMESTAMP},
      dealprice = #{dealprice,jdbcType=DOUBLE},
      dealsize = #{dealsize,jdbcType=INTEGER},
      bidorderid = #{bidorderid,jdbcType=VARCHAR},
      askorderid = #{askorderid,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>